.card {
  border-radius: 0;
}
.card, .card-footer {
  background-color: #FFFFA5;
  border: none;
}
.card-footer {
  text-align: right;
}
i {
  color: #cc0000;
  padding-right: .5rem;
}
.card.completed,
.card.completed .card-footer
{
  background-color: #EEE;
  color:#ccc;
}
.card.completed .card-footer i {
  color: green;
}
