<div class="col-md-3">
  <div
    [class.completed]="task.completed"
    class="panel panel-default card"
    (click)="toggleCompleted()">
    <div class="panel-body">
      {{task?.body}}
    </div>
    <div class="panel-footer card-footer">
      <span *ngIf="!task.completed">Not completed <i class="fa fa-times" aria-hidden="true"></i></span>
      <span *ngIf="task.completed">Completed <i class="fa fa-check" aria-hidden="true"></i></span>
    </div>
  </div>
</div>



