<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form
        #taskForm="ngForm"
        class="form-inline"
        (ngSubmit)="addNewTask()">
        <div class="form-group">
          <input
            [(ngModel)]="currentTask.body"
            name="currentTask"
            type="text" class="form-control" required placeholder="Enter a task...">
        </div>
        <button
          [disabled]="taskForm.form.invalid"
          type="submit" class="btn btn-primary">Add task</button>
      </form>
    </div>
  </div>
  <div class="row">
    <app-card *ngFor="let task of tasks" [task]="task"></app-card>
    <h5 *ngIf="tasks.length == 0" class="message">
      <p>The task list is currently empty!</p>
      <p>Use the form above to add new tasks!</p>
    </h5>
  </div>
</div>
