.container {
  padding-top: 3rem;
}

.row {
  margin-bottom: 1.5rem;
}

.btn {
  margin-left: 1rem ;
}

form {
  text-align: center;
  padding-bottom: 2rem;
}

.message {
  text-align: center;
  color: #CCC;
}

